@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mozilla+Headline:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #e1cc29;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 650px;
  margin-left: 230px;
}

h1 {
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-top: -50px;
  margin-bottom: 20px;
}

p {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-min,
.input-max {
  width: 200px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  margin-right: 10px;
  display: inline-block;
}

button {
  background: linear-gradient(90deg, #f7ce04, #33301d);
  width: 120px;
  height: 35px;
  opacity: 1px;
  margin-top: 25px;
  font-weight: 900;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(8, 8, 8);
  transition: 0.3s;
}

button:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 28px rgba(20, 20, 18, 0.6);
  opacity: 1.9;
}

button:active {
  opacity: 2.8;
}



